[project]
	description = Learning Chef and Vagrant for Virtual Machine management
[access "refs/*"]
	owner = group user/vinit khandagle (vinitkhandagle)
[access "refs/for/refs/*"]
	read = group user/vinit khandagle (vinitkhandagle)
	push = group user/vinit khandagle (vinitkhandagle)
	label-Code-Review = -2..+2 group user/vinit khandagle (vinitkhandagle)
	label-Verified = -1..+1 group user/vinit khandagle (vinitkhandagle)
	rebase = group user/vinit khandagle (vinitkhandagle)
	removeReviewer = group user/vinit khandagle (vinitkhandagle)
	submit = group user/vinit khandagle (vinitkhandagle)
[access "refs/heads/*"]
	read = group user/vinit khandagle (vinitkhandagle)
	create = group user/vinit khandagle (vinitkhandagle)
	push = +force group user/vinit khandagle (vinitkhandagle)
	pushMerge = group user/vinit khandagle (vinitkhandagle)
[access "refs/tags/*"]
	push = +force group user/vinit khandagle (vinitkhandagle)
	pushTag = group user/vinit khandagle (vinitkhandagle)
	pushSignedTag = group user/vinit khandagle (vinitkhandagle)
